div.game
{
    position:absolute;
    top:3px;
    left:3px;
    z-index:0;
    width:650px;
    height:530px;
}
div.board
{
    border:5px black solid;
    position:absolute;
    z-index:1;
    top:10px;
    left:20px;
    height:500px;
    width:350px;
    background-color:#fff;
}
div.preview
{
    border:3px black solid;
    position:absolute;
    z-index:1;
    top:10px;
    left:430px;
    height:150px;
    width:150px;
    background-color:#fff;
    -moz-border-radius: 10px;
}
div.score
{
    border:3px black solid;
    position:absolute;
    z-index:1;
    top:200px;
    left:430px;
    width:150px;
    background-color:#fff;
    -moz-border-radius: 10px;
}
span.block
{
    border-width: 2px;
    border-style: outset;
    width:21px;
    height:21px;
}
span.b1
{
    border-color:red;
    background-color:red;
}
span.b2
{
    border-color:green;
    background-color:green;
}
span.b3
{
    border-color:blue;
    background-color:blue;
}
span.b4
{
    border-color:orange;
    background-color:orange;
}
span.b5
{
    border-color:purple;
    background-color:purple;
}
span.b6
{
    border-color:brown;
    background-color:brown;
}
span.b7
{
    border-color:aqua;
    background-color:aqua;
}
img.block
{
    width:21px;
    height:25px;
}

