.control-dial {
        border-spacing:0px;
        border-padding:0px;
        text-align:center;
        margin:auto;
}
.redCell.ng-animate{
     -webkit-transition: 1s linear all; /* Safari/Chrome */
      transition: 1s linear all; /* All other modern browsers and IE10+ */
    background-color:red;
    color:white;
}
.redCell.ng-animate-add {
    background-color:white;
    color:black;
}
.redCell{
    background-color:red;
    color:white;
}
.io-buttons{
    text-align:center;
}
.input-contolls {
    text-align:center;
    width:355px;
}
.control-dial td {
        width: 60px;
        height: 60px;
        vertical-align:middle;
        text-align:center;
        font-weight: bold;
        font-size: 14pt;
        border:1px #999 solid;
        cursor: pointer;
}
.sudoku-cell {
        width: 60px;
        height: 60px;
        vertical-align:middle;
        text-align:center;
        font-weight: bold;
        font-size: 14pt;
        border:1px #999 solid;
        cursor: pointer;
}
.sudoku-cell:hover {
        background-color: yellow;
}
.sudoku-board {
        border-spacing:0px;
        border-padding:0px;
}

.sudoku-board tr:nth-child(3n+1) td{
        border-top:2px black solid;
}
.sudoku-board td:nth-child(3n+1) {
        border-left:2px black solid;
}
.sudoku-board td:last-child {
        border-right:2px black solid;
}
.sudoku-board tr:last-child td {
        border-bottom:2px black solid;
}
.controllButtons{
    border:none;
}
.errorMessages {
    display:none;
    border:none;
    color:red;
}
