<!doctype html>
<html>
  <head>
    <script>
        function require(libraries, callback){
            callback();
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>    
    <script src="js/angular.min.js"></script>
    <script src="js/SudokuApp.js"></script>
    <link rel="stylesheet" href="css/sudoku.css" />
    <link rel="stylesheet" href="css/jqueryui.css" />
<script>
$(document).ready(function(){
	$(document).on("keypress", function(event){
        console.log(event.which);
		if(event.which > 47 && event.which < 58){
			angular.element($("#sudokuGame")).scope().$apply(function(scope){scope.currentNumber = event.which - 48; });
        }
	});
    $("button").button();
});
</script>
  </head>
  <body ng-app="AngularSudoku">
    <div id="sudokuGame" ng-controller="SudokuGame">
	<table><tr><td>
	<table class='sudoku-board'>
		<tr ng-repeat="row in rows">
			<td class='sudoku-cell bindToMe' ng-repeat="cell in rows[$index]" ng-click="setCellValue(cell)" ng-style="getCellStyle(cell)">{{ cell.value }}</td>
		</tr>
	</table></td><td class='input-controlls'>
		<table class='control-dial'>
			<tr>
				<td ng-click="setCurrentNumber(1)" ng-style="getControlStyle(1)">1</td>
                                <td ng-click="setCurrentNumber(2)" ng-style="getControlStyle(2)">2</td>
                                <td ng-click="setCurrentNumber(3)" ng-style="getControlStyle(3)">3</td>
			</tr>
                        <tr>
                                <td ng-click="setCurrentNumber(4)" ng-style="getControlStyle(4)">4</td>
                                <td ng-click="setCurrentNumber(5)" ng-style="getControlStyle(5)">5</td>
                                <td ng-click="setCurrentNumber(6)" ng-style="getControlStyle(6)">6</td>
                        </tr>
                        <tr>
                                <td ng-click="setCurrentNumber(7)" ng-style="getControlStyle(7)">7</td>
                                <td ng-click="setCurrentNumber(8)" ng-style="getControlStyle(8)">8</td>
                                <td ng-click="setCurrentNumber(9)" ng-style="getControlStyle(9)">9</td>
                        </tr>
			<tr>
                <td colspan=3 class='controllButtons'>
                    <button ng-click="validateBoard($event)">Check</button>
                    <button ng-click="solvePuzzle()">Solve</button>
                </td>
			</tr>
            <tr><td colspan=3 class='errorMessages'>{{ errorMessage }} </td></tr>
        </table>
        <table><tr><td>
        <textarea rows=10 cols=40 ng-model='importExportJson'></textarea>
</td></tr><tr><td>
        <button ng-click="exportCurrentBoard()">Export to Json</button>
        <button ng-click="importBoardState()">Import from Json</button>
</td></tr></table>
	</td></tr></table>
    </div>
  </body>
</html>
